# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environments
venv/
ENV/
.env/

# IDEs and editors
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Python distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Pytest
.pytest_cache/
.coverage

config.py
